@import '../base/logic';
@import '../base/variables';

.TR-Summary { background: $DarkGrey; color: $NearWhite; overflow: auto; @include Flex(2); @include FlexBox($direction:column,$justify:center,$alignItems:flex-end); 
	
	&Inner { padding: 3rem 6rem 3rem 3rem; }
	p { font-size: 3vw; line-height: 4vw; }
	a .TR-Icon { font-size: .7em; }
}