@import '../base/logic';

.TR-Title { overflow: hidden; position: relative; text-align: right; @include Flex(1); @include FlexBox($direction:column,$justify:center,$alignItems:flex-end);
	
	&Inner { padding: 3rem 3rem 3rem 6rem; }
	h1 { font-size: 12vw; line-height: .8em; margin: .5em 0; position: relative; }
}

#TR-Portrait { height: 100%; opacity: .1; position: absolute; width: 100%; 
	canvas { min-height: 100%; left: 50%; min-width: 100%; position: absolute; top: 50%; @include Transform(translate(-50%,-50%)); }
	img { max-width: none; min-height: 100%; left: 50%; min-width: 100%; position: absolute; top: 50%; @include Transform(translate(-50%,-50%)); }
}