@import '../base/logic';

.TR-Title { overflow: hidden; position: relative; text-align: right; @include Flex(1); @include FlexBox($direction:column,$justify:center,$alignItems:flex-end);
	
	&Inner { padding: 3rem 3rem 3rem 6rem; }
	h1 { font-size: 12vw; line-height: .8em; margin: .5em 0; position: relative; }
}