//Fonts
$fa-font-path: "/node_modules/font-awesome/fonts";
@import '../../../../node_modules/font-awesome/scss/font-awesome';

//Toolbox
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1em;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*:focus {
    outline: none;
}
main {
    display: block;
}

//Default Styles
html {
    -webkit-font-smoothing: antialiased;
}

body {
    color: $BasicTextColor;
    font: 16px/26px $BasicFontStack;
    overflow-x: hidden;
}
a {
    color: $Accent;
    &:hover {
        color: lighten($Accent, 15%);
    }
}
img {
    display: block;
    max-width: 100%;
}
strong {
    font-weight: bold;
    a:hover {
        text-decoration: none;
    }
}
em {
    font-style: italic;
}
h1 {
    color: $BasicHeadingColor;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
    margin: 1.5em 0 1em;
    text-transform: none;
}
h2 {
    color: $BasicHeadingColor;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.2em;
    margin: 1.5em 0 1em;
}
h3 {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.2em;
    margin: 1.5em 0 1rem;
    text-align: left;
}
h4 {
    color: $Accent;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.4em;
    margin: 0;
}
h5 {
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.4em;
    margin: 0;
}
h6 {
    color: inherit;
    font-size: .9rem;
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
p {
    color: inherit;
    margin: 0 0 1rem 0;
}
ul {
    margin: 0 0 .5rem 20px;
    li {
        list-style-type: disc;
    }
}
ol {
    margin: 0 0 .5rem 20px;
}
li {
    list-style-position: inside;
    margin: 0 0 1em 0;
    ul, ol {
        margin-top: .5em;
    }
    li {
        margin-bottom: .5em;
    }
}

dl {
    @include ClearFix;
    clear: both;
    margin: 0 0 1rem;
}
dt {
    clear: left;
    float: left;
    font-weight: bold;
    margin: 0 0 .5em 0;
    position: relative;
    text-transform: uppercase;
    width: 37%;
    @include breakpoint(large down) {
        float: none;
        width: auto;
    }
}
dd {
    float: left;
    font-weight: bold;
    margin: 0 0 .5em 2%;
    width: 61%;
    @include breakpoint(large down) {
        float: none;
        margin-left: 0;
        width: auto;
    }
}
sup, sub {
    font-size: .7em;
    line-height: 0;
}

tr:nth-child(even) {
    background: #fff;
}
table {
    margin-bottom: 1rem;
}
thead th {
    background: $DarkGrey;
    border: none;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    line-height: 18px;
    padding: .5em .7em .4em;
    vertical-align: middle;
    text-transform: uppercase;
}
th, td {
    border-bottom: 1px solid $NearWhite;
    color: $BasicTextColor;
    padding: .5em .7em .4em;
    text-align: left;
    vertical-align: middle;
}
td {
    font-size: .8em;
    font-weight: bold;
}
tbody th {
    font-weight: 800;
    a {
        text-decoration: none;
    }
}
blockquote {
    color: $DarkGrey;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.2em;
    margin: 1.1rem 0;
    a {
        color: #37312c;
    }
}
address {
    @extend p;
}

::selection {
    background: rgba(0,0,0,.4);
}
::-moz-selection {
    background: rgba(0,0,0,.4);
}
label {
    font-size: .8em;
}
input[type="text"], input[type="email"], input[type="password"] {
    @include BoxSizing;
    background: transparent;
    border: 1px solid $MediumGrey;
    box-shadow: none;
    color: $BasicTextColor;
    font: normal 1.1rem/1.2em $BasicFontStack;
    height: auto;
    min-height: 2.75rem;
    padding: .4em .5em;
    width: 100%;
}
input[type="checkbox"], input[type="radio"] {
    margin: .4em .5em .4em 0;
    vertical-align: top;
}
html.appearance input[type="checkbox"] {
    border: 1px solid $LightGrey;
    border-radius: 2px;
        box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 0 #c0c0c0;
    height: 17px;
    margin: 0 8px 0 0;
    vertical-align: middle;
    width: 17px;
        @include Transition(box-shadow,.4s);
            
    appearance: none;
    -webkit-appearance: none;
        
        &:checked {
                box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 20px #c0c0c0;
        }
}
::-webkit-input-placeholder {
    color: inherit;
    font-size: smaller;
    opacity: 1;
}
::-moz-placeholder {
    color: $DarkGrey;
    font-size: smaller;
    opacity: 1;
}
:-ms-input-placeholder {
    color: $DarkGrey;
    font-size: smaller;
    opacity: 1;
}
:-moz-placeholder {
    color: $DarkGrey;
    font-size: smaller;
    opacity: 1;
}
textarea {
    @include BoxSizing;
    @extend input[type="text"];
    min-height: 10vh;
    max-width: 30rem;
    resize: vertical;
    width: 100%;
}
select {
    @extend input[type="text"];
    cursor: pointer;
    max-width: 30rem;
    padding: .4em .5em;
    text-transform: uppercase;
    width: 68%;
    &:hover, &:active, &:focus {
        border-color: $LightGrey;
    }
    html.appearance & {
        background: $NearWhite url('/images/icon-select.png') no-repeat right center;
        background-size: auto 15%;
        padding-right: 42px;
        appearance: none;
        -webkit-appearance: none;
    }
}
button, input[type='submit'], input[type='button'] {
    @include Button;
    background: $Accent;
    float: right;
    display: block;
    text-align: center;
    &:hover {
        background: $Accent;
    }
    html.appearance & {
        appearance: none;
        -webkit-appearance: none;
    }
}
fieldset {
    border: 1px dotted $DarkGrey;
    margin-bottom: 1rem;
    padding: 10px;
}
legend {
    font: bold 22px/30px $BasicFontStack;
    padding: 5px;
}

@include breakpoint(medium) { 
    body {
        font: 1.1rem/1.4em $BasicFontStack;
    }
    h1 {
        font-size: 2.2rem;
    }
}