//Breakpoints
$bp-medium: 640px;
$bp-large: 1024px;
$bp-xlarge: 1200px;
$bp-xxlarge: 1440px;

//Fonts
$KeplerFont: 'kepler-std-semicondensed-dis', serif;
$NowayFont: 'Noway', sans-serif;

$BasicFontStack: $NowayFont;
$Heading1FontStack: $KeplerFont;
$Heading2FontStack: $KeplerFont;

//Colors
$Yellow: #ffd200;
$RedOrange: #ff5700;
$DarkGrey: #212121;
$MediumGrey: #ccc;
$NearWhite: #ddd;
$Red: #f00;

$BasicTextColor: #000;
$BasicHeadingColor: #333;
$Accent: $RedOrange;
$LightAccent: lighten($Accent, 10%);
$Warning: $Red;