//Breakpoints
$bp-medium: 640px;
$bp-large: 1024px;
$bp-xlarge: 1200px;
$bp-xxlarge: 1440px;

//Fonts
$BasicFontStack:'Montserrat', sans-serif;
$Heading1FontStack:'kepler-std-semicondensed-dis', serif;

//Colors
$Yellow: #ffd200;
$DarkGrey: #4d4d4d;
$MediumGrey: #ccc;
$NearWhite: #ddd;
$Red: #f00;

$BasicTextColor: #000;
$BasicHeadingColor: #333;
$Accent: $Yellow;
$LightAccent: lighten($Accent, 10%);
$Warning: $Red;